.navigation{
    padding: 0px 20px !important;
    background-color: #588bae !important;
    color:#Fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,.9);
}
.nav-btn{
    color: white !important;
    background-color: #1c3144 !important;
    border: none !important;
}
.nav-btn:hover{
    color: #588bae !important;
    background-color: white !important;
}
.link{
    text-decoration: none !important;
    color: white !important;
}
.link:hover{
    color: coral;
}
.link-item{
    padding: 0 5px !important;
    font-size: 18px !important;
}
.link-item:hover{
    color: darksalmon !important;
}
.topnav-section{
    padding-left: 20px !important;
}