.body{
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%) !important;
}

.landing-page-main{
  height: 100vh;
  background-color: #d0d6dd !important;
  box-sizing: border-box;
  z-index: -2;
}

.job-page-colomn-wrap{
  margin: 0 auto;
  width: 90%;
}
.login-page{
  height: 100vh;
  background-color: #d0d6dd !important;
  box-sizing: border-box;
  z-index: -2;
}
.navigation{
  padding: 0px 20px !important;
  background-color: #588bae !important;
  color:#Fff;
  box-shadow: 0px 1px 5px rgba(0,0,0,.9);
}
.nav-btn{
  color: white !important;
  background-color: #1c3144 !important;
  border: none !important;
}
.nav-btn:hover{
  color: #588bae !important;
  background-color: white !important;
}
.link{
  text-decoration: none !important;
  color: white;
}
.link:hover{
  color: darksalmon !important;
}
.link-item{
  padding: 0 5px !important;
  font-size: 18px !important;
}

.topnav-section{
  padding-left: 20px !important;
}
